div
{
    padding: 1%;
    width: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 1px dotted crimson;
}
